.md-editor > div.ProseMirror-focused {
	@apply outline-none;
}

.md-editor {
	@apply mx-auto w-full rounded-md bg-white px-8 py-4 text-[12pt] outline-none @4xl/main:text-[14pt] @6xl/main:w-11/12 @6xl/main:max-w-7xl @6xl/main:px-24 @6xl/main:py-10;
}
/* .exported {
	@apply text-[8pt];
} */

/* Style for bold markup: **text** */
.md-strong {
	@apply font-bold;
}

/* Style for italic markup: *text* */
.md-em {
	@apply italic;
}

/* Style for strikethrough markup: ~~text~~ */
.md-del {
	@apply line-through;
}

/* Style for inline code: `text` */
.md-codespan {
	@apply rounded-md bg-gray-100 px-2 font-mono;
}

/* Style for inline math source: $x^2+1=0$ */
.md-inlinemath {
	@apply font-mono;
}

.md-inlinemath-preview {
	@apply relative w-0;
}

.md-inlinemath-preview > div {
	@apply absolute bottom-7 left-1/2 w-max max-w-2xl select-none overflow-hidden rounded-lg border border-neutral-100 bg-white px-4 py-2 shadow-md;
}

.ProseMirror img {
	@apply inline-block;
}

.md-rendered-image {
	@apply inline cursor-pointer;
}

/* Style for footnote reference */
.md-punctuation.md-hidden + .md-footnoteref {
	@apply cursor-pointer rounded-md bg-blue-100 px-1 align-super text-xs text-blue-500 underline;
}

/* Style for links */
.md-link {
	@apply cursor-pointer text-blue-400 underline;
}

/* Style for style punctuation */
.md-punctuation {
	@apply text-gray-300;
}

.md-code-block {
	@apply rounded-md bg-gray-100 p-5;
}

.ProseMirror ul {
	@apply ml-9 list-none;
}

.ProseMirror ol {
	@apply ml-[3.5rem] list-decimal;
}

.ProseMirror ul > li {
	@apply relative pl-5;
}

.ProseMirror ul > li.md-list-item::before,
.ProseMirror ul > li.md-checklist-item div {
	@apply absolute left-0 top-0 block;
}

.ProseMirror ul > li.md-list-item::before {
	content: "•";
}

.md-editor.ProseMirror table.md-block {
	@apply mx-auto w-auto min-w-60;
}

.ProseMirror th,
.ProseMirror td {
	@apply border border-neutral-800 px-2 py-1;
}

.ProseMirror td {
	@apply min-w-10;
}

.ProseMirror th {
	@apply font-bold;
}

.md-table-toolbar {
	@apply absolute justify-center gap-2 left-1/2 top-0 -translate-x-1/2 -translate-y-full p-2 bg-secondary rounded-lg;
}

.md-table-action-button {
	@apply p-2 size-8 rounded-sm bg-white border border-neutral-300;
}

.md-table-action-button[data-enabled=true] {
	@apply bg-primary text-primary-foreground border-none;
}

.ProseMirror blockquote {
	@apply border-l-2 border-primary pl-5 italic text-neutral-600;
}

/* Style to hide hidden elements (e.g. punctuation when cursor is near) */
.md-hidden {
	@apply hidden;
}

/* Titles */
.md-title {
	@apply mb-2 font-bold @4xl/main:mb-3;
}

.md-title-1 {
	@apply mb-4 text-5xl @4xl/main:mb-7 @4xl/main:text-6xl;
}

.md-title-2 {
	@apply text-3xl @4xl/main:text-5xl;
}

.md-title-3 {
	@apply text-2xl @4xl/main:text-4xl;
}

.md-title-4 {
	@apply text-xl @4xl/main:text-3xl;
}

.md-title-5 {
	@apply text-lg @4xl/main:text-2xl;
}

.md-title-6 {
	@apply text-base @4xl/main:text-lg;
}

.exported .md-title {
	@apply mb-1 font-bold;
}

.exported .md-title-1 {
	@apply mb-3 text-2xl;
}

.exported .md-title-2 {
	@apply text-xl;
}

.exported .md-title-3 {
	@apply text-lg;
}

.exported .md-title-4 {
	@apply text-base;
}

.exported .md-title-5 {
	@apply text-sm;
}

.exported .md-title-6 {
	@apply text-xs;
}

/* Block spacing */
.ProseMirror > .md-block:not(.md-extended-block):not(:first-child),
.ProseMirror > ul:not(:first-child),
.ProseMirror > ol:not(:first-child),
.ProseMirror > .cm-editor:not(:first-child) {
	@apply mt-4 @4xl/main:mt-5;
}

.exported.ProseMirror > .md-block:not(.md-extended-block):not(:first-child),
.exported.ProseMirror > ul:not(:first-child),
.exported.ProseMirror > ol:not(:first-child),
.exported.ProseMirror > .cm-editor:not(:first-child) {
	@apply mt-2;
}

/* Code mirror styling */
.cm-editor {
	@apply -mx-8 overflow-hidden bg-secondary @4xl/main:mx-0 @4xl/main:rounded-md;
}
.exported .cm-editor {
	@apply mx-0 rounded-md;
}

.cm-editor * {
	@apply font-mono;
}

.cm-scroller {
	@apply p-3;
}

.cm-editor.cm-focused {
	outline: 1px solid hsl(var(--primary));
}

.cm-panels.cm-panels-bottom {
	@apply z-0 flex justify-end border-t border-dashed bg-gray-100 p-2;
}

.exported .cm-panels.cm-panels-bottom {
	@apply hidden;
}

/* .cm-editor:not(.cm-focused) .cm-panels.cm-panels-bottom {
    @apply hidden;
} */

.cm-code-lang {
	@apply rounded-sm bg-gray-200 px-3 py-1 text-center font-mono text-xs text-gray-600;
}

.md-html-block-editor > .cm-editor:not(.cm-focused),
.md-html-block-editor > .cm-editor:not(.cm-focused) *,
.md-math-block-editor > .cm-editor:not(.cm-focused),
.md-math-block-editor > .cm-editor:not(.cm-focused) * {
	@apply !h-0 overflow-hidden;
}

.md-html-block-editor {
	@apply min-h-3 cursor-pointer transition-all hover:rounded-md hover:bg-neutral-100;
}

.md-html-block-render {
	@apply whitespace-normal;
}

.md-toolbar {
	@apply sticky top-5 mx-auto mb-5 flex items-center gap-1 rounded-[calc(theme(borderRadius.lg)+0.25rem)] border border-neutral-100 bg-white p-1 text-neutral-700 shadow-md shadow-gray-100;
}

.md-toolbar-action {
	@apply flex aspect-square w-10 cursor-pointer items-center justify-center rounded-lg px-2 py-1 text-lg hover:bg-neutral-100;
}

.md-toolbar-action.active {
	@apply bg-blue-100 text-blue-800;
}

.md-toolbar-separator {
	@apply text-neutral-200;
}

@media print {
	body *:not(.exported, .exported *) {
		display: none;
	}

	@page :footer {
		display: none;
	}

	@page :header {
		display: none;
	}
}

* {
	-webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
	color-adjust: exact !important; /* Firefox 48 – 96 */
	print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
}
