.md-editor > div.ProseMirror-focused {
	@apply outline-none;
}

.md-editor {
	@apply bg-white rounded-md py-16 px-24 min-h-[90rem] border border-neutral-100 text-[14pt];
}
.exported {
	@apply text-[8pt];
}

/* Style for bold markup: **text** */
.md-strong {
	@apply font-bold;
}

/* Style for italic markup: *text* */
.md-em {
	@apply italic;
}

/* Style for strikethrough markup: ~~text~~ */
.md-del {
	@apply line-through;
}

/* Style for inline code: `text` */
.md-codespan {
	@apply font-mono px-2 rounded-md bg-gray-100;
}

/* Style for inline math source: $x^2+1=0$ */
.md-inlinemath {
	@apply font-mono;
}

.md-inlinemath-preview {
	@apply relative w-0;
}

.md-inlinemath-preview>div {
	@apply absolute bottom-7 py-2 px-4 border border-neutral-100 rounded-lg bg-white shadow-md w-max max-w-2xl left-1/2 overflow-hidden select-none;
}

.ProseMirror img {
	@apply inline;
}

.md-rendered-image {
	@apply inline cursor-pointer;
}

/* Style for footnote reference */
.md-punctuation.md-hidden+.md-footnoteref {
	@apply align-super text-xs bg-blue-100 text-blue-500 underline px-1 rounded-md cursor-pointer;
}

/* Style for links */
.md-link {
	@apply cursor-pointer underline text-blue-400;
}

/* Style for style punctuation */
.md-punctuation {
	@apply text-gray-300;
}

.md-code-block {
	@apply bg-gray-100 rounded-md p-5;
}

.ProseMirror ul {
	@apply list-none ml-9;
}

.ProseMirror ol {
	@apply list-decimal ml-[3.5rem];
}

.ProseMirror ul>li {
	@apply relative pl-5;
}

.ProseMirror ul>li.md-list-item::before,
.ProseMirror ul>li.md-checklist-item div {
	@apply block absolute top-0 left-0;
}

.ProseMirror ul>li.md-list-item::before {
	content: "•";
}

.ProseMirror table {
	@apply border-collapse mx-auto;
}

.ProseMirror th,
.ProseMirror td {
	@apply border border-neutral-800 py-1 px-2;
}

.ProseMirror th {
	@apply font-bold;
}

.ProseMirror blockquote {
	@apply border-l-8 border-blue-600 text-neutral-600 italic pl-5;
}

/* Style to hide hidden elements (e.g. punctuation when cursor is near) */
.md-hidden {
	@apply hidden;
}

/* Titles */
.md-title {
	@apply font-bold mb-3;
}

.md-title-1 {
	@apply text-6xl mb-7;
}

.md-title-2 {
	@apply text-5xl;
}

.md-title-3 {
	@apply text-4xl;
}

.md-title-4 {
	@apply text-3xl;
}

.md-title-5 {
	@apply text-2xl;
}

.md-title-6 {
	@apply text-lg;
}

.exported .md-title {
	@apply font-bold mb-1;
}

.exported .md-title-1 {
	@apply text-2xl mb-3;
}

.exported .md-title-2 {
	@apply text-xl;
}

.exported .md-title-3 {
	@apply text-lg;
}

.exported .md-title-4 {
	@apply text-base;
}

.exported .md-title-5 {
	@apply text-sm;
}

.exported .md-title-6 {
	@apply text-xs;
}

/* Block spacing */
.ProseMirror>.md-block:not(.md-extended-block):not(:first-child),
.ProseMirror>ul:not(:first-child),
.ProseMirror>ol:not(:first-child),
.ProseMirror>.cm-editor:not(:first-child) {
	@apply mt-5;
}

.exported.ProseMirror>.md-block:not(.md-extended-block):not(:first-child),
.exported.ProseMirror>ul:not(:first-child),
.exported.ProseMirror>ol:not(:first-child),
.exported.ProseMirror>.cm-editor:not(:first-child) {
	@apply mt-2;
}

/* Code mirror styling */
.cm-editor {
	@apply bg-gray-100 rounded-md overflow-hidden;
}

.cm-editor * {
	@apply font-mono;
}

.cm-scroller {
	@apply p-3;
}

.cm-editor.cm-focused {
	outline: 1px solid cyan;
}

.cm-panels.cm-panels-bottom {
	@apply bg-gray-100 flex justify-end p-2 border-t border-dashed z-0;
}

.exported .cm-panels.cm-panels-bottom {
	@apply hidden;
}

/* .cm-editor:not(.cm-focused) .cm-panels.cm-panels-bottom {
    @apply hidden;
} */

.cm-code-lang {
	@apply px-3 py-1 rounded-sm bg-gray-200 text-xs text-gray-600 font-mono text-center;
}

.md-html-block-editor>.cm-editor:not(.cm-focused),
.md-html-block-editor>.cm-editor:not(.cm-focused) *,
.md-math-block-editor>.cm-editor:not(.cm-focused),
.md-math-block-editor>.cm-editor:not(.cm-focused) * {
	@apply !h-0 overflow-hidden;
}

.md-html-block-editor {
	@apply min-h-3 hover:bg-neutral-100 hover:rounded-md transition-all cursor-pointer;
}

.md-toolbar {
	@apply sticky top-5 flex items-center gap-1 text-neutral-700 mb-5 bg-white border border-neutral-100 rounded-[calc(theme(borderRadius.lg)+0.25rem)] p-1 shadow-md shadow-gray-100 mx-auto;
}

.md-toolbar-action {
	@apply py-1 px-2 rounded-lg hover:bg-neutral-100 cursor-pointer flex justify-center items-center w-10 aspect-square text-lg;
}

.md-toolbar-action.active {
	@apply bg-blue-100 text-blue-800;
}

.md-toolbar-separator {
	@apply text-neutral-200;
}

@media print {
	body *:not(.exported, .exported *) {
		display: none;
	}

	@page :footer {
        display: none
    }
 
    @page :header {
        display: none
    }
}

* {
	-webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}